/*body {
  background-color: #FDFDFD;
}*/

/** top nav **/
.navbar-header {
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  float: left;
}
.top-action,
.sidemenu-switch {
  width: 30px;
  height: 30px;
  background-repeat: none;
  border: none;
  margin-top: 9px;
}
.top-action {
  background: center center url("/images/top-action.png") no-repeat;
  float: right;
}
.sidemenu-switch {
  background: center center url("/images/sidemenu-switch.png") no-repeat;
  float: left;
}
.sidemenu {
  width: 300px;
  position: fixed;
  top: 0px;
  left: -300px;
  background: #FFF;
  display: block;
  height: 100%;
  z-index: 10;
  overflow: auto;
}
.sidemenu .inner {
  margin-top: 50px;
}
.sidemenu .logo {
  background-color: #F7E8D1;
  text-align: center;
}
.sidemenu .logo img {
  height: 180px;
}
.sidemenu nav ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
.sidemenu nav ul li {
  width: 100%;
}
.sidemenu nav ul li a {
  font-size: 1.1em;
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #EEE;
}
.sidemenu nav ul li a:hover {
  background-color: #EEE;
  text-decoration: none;
}
.sidemenu nav ul li ul {
  margin-left: 1.1em;
}
.overlay {
  z-index: -1;
  background: #2A2A2A;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
body.home .jumbotron {
  background-color: #F7E8D1;
  margin-top: 20px;
}
body.home .jumbotron .logo {
  text-align: center;
}
body.home .jumbotron .logo img {
  display: none;
}
@media (min-width: 768px) {
  .top-action, .sidemenu-switch {display: none;}
  .sidemenu {
    display: none;
  }
  body.home .jumbotron .logo img {
    display: inline-block;
    width: 250px;
  }
}
@media (min-width: 992px) {
  body.home .jumbotron .logo img {
    width: 300px;
  }
}

/** Backend **/
.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}